<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="23199JadsonSantos.FrasesS2" Publisher="CN=2507B0C6-F92B-4C42-B7D1-3BD9DB47217B" Version="6.3.0.2" />
  <mp:PhoneIdentity PhoneProductId="d4413485-6a4a-4f08-b0e8-0b8da34a33c4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Frases S2</DisplayName>
    <PublisherDisplayName>LURASOFT</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Frases_S2.App">
      <m3:VisualElements DisplayName="Frases S2" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Frases S2" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="dodgerBlue" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="text">
            <DisplayName>Favorite</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="text/file">.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
    <m3:Capability Name="appointments" />
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>